@model Food
@{
    ViewData["Title"] = "Create Food";
}

<h1>@ViewData["Title"]</h1>

<h4>Food</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Calories)
        @Html.EditorFor(model => model.Calories)
        @Html.ValidationMessageFor(model => model.Calories)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Protein)
        @Html.EditorFor(model => model.Protein)
        @Html.ValidationMessageFor(model => model.Protein)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fats)
        @Html.EditorFor(model => model.Fats)
        @Html.ValidationMessageFor(model => model.Fats)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Carbohydrates)
        @Html.EditorFor(model => model.Carbohydrates)
        @Html.ValidationMessageFor(model => model.Carbohydrates)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}

